.hero-background-slide-0 {
  background-image: url('https://images.unsplash.com/photo-1581094288338-2314dddb7ece?w=1200&auto=format&fit=crop&q=80');
}

.hero-background-slide-1 {
  background-image: url('https://images.unsplash.com/photo-1513475382585-d06e58bcb0e0?w=1200&auto=format&fit=crop&q=80');
}

.hero-background-slide-2 {
  background-image: url('https://images.unsplash.com/photo-1486262715619-67b85e0b08d3?w=1200&auto=format&fit=crop&q=80');
}
